<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
} %>

<div id="account-management">
    <h2>Welcome New</h2>
    <p>You're logged in</p>
    <a href="#">Edit Account Information</a>
</div>