<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
} %>
<%- messages() %>
<ul class="management">
    <li><a href="/inv/newclass">Add New Classification</a></li>
    <li><a href="/inv/newvehicle">Add New Vehicle</a></li>
</ul>

<%# messages() %>

